body {
	background: #1f513b;
	background: linear-gradient(to top right, #1f513b, #0F2725) fixed;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: white;
}

h1, h2, h3, h4, h5, .brand-logo {
	font-family: 'Arvo', serif;
	font-size: 30pt;
}

h1 {
	font-size: 4em;
}

h4 {
	font-size: 1.75em;
}

p {
	font-size: 1.25em;
	line-height: 1.75em;
}

strong {
	font-family: 'Arvo', serif;
	padding: 4px 0;
	display: block;
	font-size: 1.10em;
}


.buttonPosition {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30vh;
}

.header-container {
	height: 10vh;
}
.hideButton {
  display: none;
}

.deck-container {
	height: 100%;
	width: 15%;
}

#deck {
  display: flex;
  margin-top: 30vh;
  margin-left: 2vw;
}

@keyframes deal-player {
	0% {
		transform: translate(-90px, -150px);
	}
	50% {
		transform: translate(-50px, -50px);
	}
	100% {
		transform: translate(0, 0);
  	}
}

#playerHand {
	height: 47%;
	justify-content: center;
	align-items: center;
	margin-top: 20vh;
}
.deal-player {
  width: 150px;
  height: 200px;
  display: flex;
  margin-left: 2%;
}
.deal-player.animate {
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  margin-left: 30% !important;
  margin-top: 10vh;
  margin-bottom: 17vh;

}

#dealerHand {
	height: 47%;
	justify-content: center;
	align-items: center;
	margin-top: -40vh;
}

.deal-dealer {
	width: 150px;
	height: 200px;
	display: flex;
	margin-left: 2%;
}

.deal-dealer.animate {
	-webkit-transition: 3s;
	-moz-transition: 3s;
	-ms-transition: 3s;
	-o-transition: 3s;
	transition: 3s;
	margin-left: 30% !important;
	margin-top: 10vh;
	margin-bottom: 17vh;
  
}

.row {
	display: flex;
}
.column {
	flex: 33.33%;
	padding: 5px;
}

@keyframes smooth-appear {
	to{
		bottom: 20px;
		opacity:1;
	}
}
.hand-container{
	width: 70%;
	justify-content: center;
  }
  
.result-container {
	background: gray;
	color:white;
	padding: 20px;
	position: fixed;
	bottom: -100%;
	opacity:0;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	animation: smooth-appear 1s ease forwards;
}

.wrapper{
	background: rgba(255, 255, 255, 0.192);
	backdrop-filter: blur(10px);
	height: 250px;
	width: 600px;
	border-radius: 15px;
	border: 1px solid rgba(43, 43, 43, 0.568);
  }

/* Card decks during gameplay */

#deck-pile, #dealer, #user-hand, #user-split-hand {
	display: inline-block;
	position: relative;
  width: 150px;
  height: 200px;
}

.card {
	transition: all 3s;
	display: inline-block;
	background-color: none !important;
	border-radius: 12.5px;
	outline-offset: -6px;
	outline: 6px solid white;
	box-shadow: -3px 4px rgba(15, 39, 37, .25);
}

.card:hover {
	z-index: 100;
}

.flip-card {
	background-color: transparent;
	width: 300px;
	height: 300px;
	perspective: 1000px;
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  
  .flip-card-front {
	background-color: #bbb;
	color: black;
  }
  
  .flip-card-back {
	background-color: #2980b9;
	color: white;
	transform: rotateY(180deg);
  }

